/*navbar*/
.navbar{
  width:80%;
  left:8%;
  padding: 20px;
  position:fixed;
}

.navbar a:not(:first-child){
  float:right;
  margin-right:40px;
}

.navbar a{
  text-decoration:none;
  font-weight:800;
  font-family: 'Roboto', sans-serif;;
  font-size:20px;
  color:#000;
}

/*banner*/
.banner{
  background-image:url(images/banner-image.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  padding:100px 90px 170px 90px;
  text-align:center;
  line-height:1em;
  font-family: 'Montserrat', sans-serif;
  
}

.banner-text{
  font-size:5em;
  font-weight:700;
}
.bottom-banner{
  position:absolute;
  bottom:3%;
  left:20%;
  font-size:25px;
  line-height:1em;
}

/*opening banner */

.opening-section{
  padding:90px;
  text-align:center;
  background-color:#FFF8F0;
}
.icons{
  color:black;
  font-size:70px;
}

.opening-section p{
  padding:50px 80px;
  font-size:40px;
}

/*carousel-section */

.slideshow {
  position: relative;
}
.owl-next span {
  background-color: rgba(235, 223, 223, 0.733);
  border-radius: 50%;
  padding: 5px 20px 10px 20px;
  font-size: 30px;
  color: rgb(17, 16, 16);
}
.owl-next {
  position: absolute;
  top: 110px;
  left: 92%;
}
.owl-prev span {
  background-color: rgba(235, 223, 223, 0.733);
  border-radius: 50%;
  padding: 5px 20px 10px 20px;
  font-size: 30px;
  color: rgb(17, 16, 16);
}
.owl-prev {
  position: absolute;
  top: 110px;
  right: 91%;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background: 0;
}